@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inika", serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.header {
  border-bottom: 1px solid #e0dfde;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 40px;
}

.header__title {
  margin: 0;
  line-height: 1;
  font-size: 4rem;
  font-weight: 400;
  color: #8b7969;
}

.header__loginLink {
  position: absolute;
  right: 96px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(240, 240, 240, 0.6);
  opacity: 0.6;
  border: 1px solid #d9c6b5;
}

@media screen and (max-width: 768px) {
  .header__loginLink {
    right: 40px;
  }
}

.header__loginBtn {
  text-decoration: none;
  color: #d9c6b5;
  font-size: 2rem;
  padding: 4px 15px;
  transition: all .3s;
}

.header__loginBtn:hover {
  opacity: 0.8;
}

.wrapper {
  max-width: 972px;
  margin: 0 auto;
  padding: 50px 40px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 40px 16px;
  }
}

.sectionTitle {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  color: #8b7969;
}

.contact__formItemBtnbg {
  background-color: #82756a;
  color: #fff;
  font-size: 2rem;
  border: none;
  padding: 10px 40px;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s;
}

.contact__formItemBtnbg:hover {
  opacity: 0.8;
}

.form__error {
  color: #ff0000;
  margin: 0;
}

.form__errorRight {
  text-align: right;
}