.confirm {
  display: flex;
  flex-direction: column;
  gap: 51px;
  font-family: "Inika";
}

.confirm__form {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.confirm__table {
  border: 1px solid #e0efde;
}

.confirm__tableLine {
  border-bottom: 1px solid #e0efde;
}

.confirm__tableLine:last-child {
  border-bottom: none;
}

.confirm__tableHeading {
  background-color: #baa899;
  color: #fff;
  padding: 20px 50px;
  text-align: left;
  min-width: 305px;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .confirm__tableHeading {
    padding: 10px;
    min-width: auto;
    width: 30%;
    font-size: 2.34375vw;
  }
}

@media screen and (max-width: 480px) {
  .confirm__tableHeading {
    font-size: 3.3333333333333335vw;
  }
}

.confirm__button {
  display: flex;
  gap: 52px;
  justify-content: center;
  align-items: center;
}

.confirm__tableDetail {
  padding: 20px 47px;
  font-size: 2rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .confirm__tableDetail {
    padding: 20px;
    width: 70%;
    font-size: 2.34375vw;
  }
}

@media screen and (max-width: 480px) {
  .confirm__tableDetail {
    font-size: 3.3333333333333335vw;
    padding: 10px;
  }
}


.confirm__submit {
  margin: 0;
}

.confirm__fix {
  color: #8b7969;
  text-decoration: underline;
  font-size: 2rem;
  transition: all 0.3s;
}

.confirm__fix:hover {
  opacity: 0.8;
}

.confirm__back {
  cursor: pointer;
}