.register {
  background-color: #F1ece7;
  height: auto;
  font-family: "Inika";
}

.register__contents {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.register__form {
  background-color: #fff;
  padding: 77px 145px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  border: 1px solid #c5b9b0;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .register__form {
    padding: 40px;
  }
}

@media screen and (max-width: 480px) {
  .register__form {
    padding: 16px;
    gap: 24px;
  }
}

.register__item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.register__label {
  color: #8b7969;
  font-size: 2.5rem;
}

@media screen and (max-width: 480px) {
  .register__label {
    font-size: 1.8rem;
  }
}

.register__input {
  height: 55px;
  padding: 10px;
  font-size: 1.4rem;
  background-color: #f4f4f4;
  border: none;
  color: #beb1a6;
}